*,
*:before,
*:after {
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

body {
    font-family: SF Pro Display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #282934;
    color: #eeefeb;
}

header {
    border-bottom: thin solid #00000020;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: calc( 100% - 20px);
    max-width: 1200px;
    height: 155px;
    padding: 10px;
}

.logobox {
    border: thin solid #000000b3;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    width: 100%;
    width: 140px;
    height: 130px;
    padding: 10px;
    box-shadow: inset 0px 0px 14px 0px rgba(226, 222, 222, 0.064);
}

.logo {
    width: 135px;
    height: 135px;
    align-items: center;
}

.header-right {
    float: right;
    width: calc( 100% - 180px);
    height: 140px;
    margin: 0 auto;
    padding: 10px;
}

main {
    position: absolute;
    left: 0;
    top: 170px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0px;
    box-sizing: border-box;
}

.fieldset {
    border: thin solid #00000020;
    border-radius: 10px;
    background-color: #33343e;
    color: #eeefeb9c;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    height: 100%;
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,1);
}
legend {
    font-size: 1.1em;
    font-weight: bold;
    color: #eeefebe5;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
}

footer {
    border-top: thin solid #00000020;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc( 100% - 12px);
    max-width: 1200px;
    padding-left: 6px;
    padding-right: 6px;
    height: 30px;
    padding-top: 5px;
}
.roundarea {
    font-size: 0.7em;
    font-weight: bold;
    height: 24px;
    width: calc( 100% - 40px);
    height: 18px;
    border-radius: 8px;
    background-color: #33343e;
    color: #ffffff42;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,1);
}
.sendleft {
    float: left;
}
.sendright {
    float: right;
}

.graph {
    border-radius: 10px;
    background-color: #00000045;
    padding-top: 12px;
    padding-left: 1px;
    padding-right: 8px;
    
}

.maingraph {
    border-radius: 10px;
    background-color: #0000000c;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.http-graph {
    position: absolute;
    right: 210px;
    top: 10px;
    border: thin solid #00000020;
    width: 535px;
    height: 150px;
}

.cpu-graph {
    position: absolute;
    right: 10px;
    top: 13px;
    border: thin solid #00000093;
    width: 175px;
    height: 12px;
    padding-left: 4px;
    padding-top: 14px;
}

.mem-graph {
    position: absolute;
    right: 10px;
    top: 53px;
    border: thin solid #00000093;
    width: 175px;
    height: 12px;
    padding-left: 4px;
    padding-top: 14px;
}

.thread-graph {
    position: absolute;
    right: 10px;
    top: 93px;
    border: thin solid #00000093;
    width: 175px;
    height: 12px;
    padding-left: 4px;
    padding-top: 14px;
}

.request-graph {
    position: absolute;
    right: 10px;
    top: 133px;
    border: thin solid #00000093;
    width: 175px;
    height: 12px;
    padding-left: 4px;
    padding-top: 14px;
}

.graph-bar {
    background-color: #ff000035;
    border-radius: 5px;
    align-content: center;
    font-size: 0.7em;
    text-align: center;
    padding-left: 5px;
    height: 10px;
    width: 0%;
    transition: width 2s linear;
    -webkit-mask:linear-gradient(#fff 0 0);
          mask:linear-gradient(#fff 0 0);
}
.graph-bar::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-image: linear-gradient(to right, rgba(255, 225, 0, 0.333), rgba(255, 140, 0, 0.403), rgba(255, 0, 0, 0.437)); /* your gradient here */
}
.graph-text {
    position: absolute;
    top: 13px;
    left: 8px;
    width: 100px;
    color: #eeefeb;
    font-size: 0.6em;
    z-index: 1000;
}

@keyframes loadProgressBar {
   0% {width: 0;}
 100% {width: 100%;}
}
.graph-label {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #eeefeb;
    font-size: 0.5em;
}

.payloadconfig {
    position: absolute;
    left: 5px;
    top: 172px;
    width: calc(100% - 160px);
    height: 475px;
}

.urlconfig {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 610px;
    height: 150px;
}

.httpconfig {
    position: absolute;
    left: 615px;
    top: 10px;
    width: 310px;
    height: 150px;
}

.logwindow {
    position: absolute;
    left: 5px;
    bottom: -760px;
    width: calc(100% - 10px);
    height: 100px;
}


canvas{
  width:530px !important;
  height:140px !important;
}

#test {

    font-size: 0.8em;
}

label {
    font-size: 0.8em;
    color: #eeefeb;
}

.label {
    font-size: 1em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.634);
    padding-left: 1px;
    padding-right: 1px;
}

.label2 {
    font-size: 1em;
    width: 60px;
    float: left;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.634);
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 3px;
}

input[type="input"] {
    font-size: 1.4em;
    border: thin solid #00000020;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 40px);
}

select {
    font-size: 1.0em;
    color: #ffffff90;
    background-color: #00000030;
    border: thin solid #00000020;
    border-radius: 5px;
    width: 150px;
}

.urlinput {
    color: #ffffff90;
    background-color: #00000030;
}

/* Customize the label (the container) */
.container {
  display: block;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 30px;
  width: 100px;
  color: rgba(255, 255, 255, 0.634);
}

.overrulewidth {
    width: inherit;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #00000050;
  border-radius: 5px;
  font-size: 1.0em;
  margin-left: 10px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #45454598;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fd0000c7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.confoptions {
    width: calc(100% - 50px);
    margin-left: 10px;
    border-collapse: collapse;
    margin: 10px;
    padding: 0;
}

.httpoptions {
    border-collapse: collapse;
    margin: 10px;
}

.span100 {
    width: 100%;
}

.spancustom {
    width: calc( 100% - 85px);
}

.wide {
    width: 300px;
}

.alignleft {
    text-align: left;
    padding-left: 10px;
}

td {
    padding: 0;
    margin: 0;
    align-items: right;
    text-align: right;
}

.payload {
    width: calc(100% - 10px);
    height: calc(100% - 38px);
    border-radius: 10px;
    background-color: #00000015;
    border-top: thin solid #00000020;
    border-bottom: thin solid #00000020;
    border-left: thin solid #00000040;
    border-right: thin solid #00000040;
    resize: none;
    margin-top: 5px;
    padding: 5px;
}

.silentclick:focus {
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.051);
    outline-color: #282934;
    outline-style: solid;
    color: white;
}

.isactive {
    background-color: rgba(0, 0, 255, 0.051);
    outline-color: #282934;
    outline-style: solid;
    color: white;
}

.controls {
    position: absolute;
    right: 10px;
    top: 185px;
    color: #ffffff4a;
    font-size: 1.0em;
    width: 140px;
    height: 168px;
}

.buttons {
    color: #ffffffd7;
    background-color: #00000010;
    color: #ffffffd4;
    font-size: 0.9em;
    width: 135px;
    height: 30px;
    margin: 4px;
    border-radius: 15px;
    border: 2px solid #00000020;
}
hr {
    border: thin solid #00000020;
    width: calc(100% - 20px);
}
.buttonssmall {
    color: #ffffffd4;
    background-color: #00000030;
    font-size: 0.9em;
    width: 50px;
    height: 20px;
    margin-left: 12px;
    border-radius: 15px;
    border: thin solid #ffffff20;
}

.buttons:hover {
    background-color: rgba(0, 0, 255, 0.051);
    border: 2px solid rgba(98, 98, 255, 0.134);
    color: #ffffff;
}
.buttonssmall:hover {
    background-color: rgba(0, 0, 255, 0.051);
    border: 2px solid rgba(98, 98, 255, 0.134);
    color: #ffffff;
}
.buttons:active {
    background-color: rgba(0, 0, 255, 0.129);
    border: 3px solid rgba(98, 98, 255, 0.134);
    color: #ffffff;
}
.buttonssmall:active {
    background-color: rgba(0, 0, 255, 0.129);
    border: 3px solid rgba(98, 98, 255, 0.134);
    color: #ffffff;
}
.workertext {
    font-size: 0.8em;
    color: #ffffff90;
    padding-bottom: 10px;
    text-align: center;
}

.seperator {
    color: #00000020;
}

.buttonsbig {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.buttonsbig:active,
.buttonsbig:focus {
  outline: none;
}

.buttonsbig:hover {
  background-position: -20px -20px;
}

.buttonsbig:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

/* CSS */
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50px;
    height: 20px;
    margin-left: 12px;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 0.9rem;
    padding: 3px 20px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

.button-84 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(hsl(345, 100%, 30%), hsl(345deg 100% 47%));
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    height: 52px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 140px;
    height: 110px;
}

.button-84:hover {
  box-shadow: rgba(0, 0, 0, 0.516) 0 4px 6px;
  background-image: linear-gradient(hsl(345, 74%, 41%), hsl(345deg 100% 47%));
  opacity: .85;
}

.button-84:active {
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.516) 0 1px 6px;
  transform: translateY(4px);
  transition: transform 34ms;
  opacity: 1;
}


.button-85 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(hsla(254, 100%, 50%, 0.099), hsla(0, 0%, 0%, 0.156));
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    height: 52px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 140px;
    height: 110px;
}

.button-85:hover {
  box-shadow: rgba(0, 0, 0, 0.516) 0 4px 6px;
  background-image: linear-gradient(hsla(254, 100%, 50%, 0.269), hsla(0, 0%, 0%, 0.156));
  opacity: .85;
}

.button-85:active {
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.516) 0 1px 6px;
  transform: translateY(4px);
  transition: transform 34ms;
  opacity: 1;
}

.fieldlog {
    border: thin solid #00000020;
    border-radius: 10px;
    background-color: #33343e;
    color: #eeefeb9c;
    height: 100%;
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,1);
}

.log {
    color: rgba(255, 255, 255, 0.403);
    width: calc(100% - 22px);
    height: calc(100% - 12px);
    border-radius: 2px;
    background-color: #00000015;
    border-top: none;
    border-bottom: none;
    border-left: thin solid #00000040;
    border-right: thin solid #00000040;
    resize: none;
    margin-top: 1px;
    margin-left: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #00000040 #00000020;
    scrollbar-width: thin;
}